--
-- PostgreSQL database dump
--

\restrict s9FwX2Jlxl9SvHHDwqgusrYhnJIjn1k1QPglyQfEWoqzez7kKWRbURTPBurdjNE

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."Telefono" DROP CONSTRAINT IF EXISTS "Telefono_Email_Empleado_fkey";
ALTER TABLE IF EXISTS ONLY public."Solicitud" DROP CONSTRAINT IF EXISTS "Solicitud_Email_Empleado_fkey";
ALTER TABLE IF EXISTS ONLY public."Solicitud" DROP CONSTRAINT IF EXISTS "Solicitud_Consecutivo_fkey";
ALTER TABLE IF EXISTS ONLY public."Procesos" DROP CONSTRAINT IF EXISTS "Procesos_Pk_folio_ticket_fkey";
ALTER TABLE IF EXISTS ONLY public."Procesos" DROP CONSTRAINT IF EXISTS "Procesos_Email_Empleado_fkey";
ALTER TABLE IF EXISTS ONLY public."Inventario_Automoviles" DROP CONSTRAINT IF EXISTS "Inventario_Automoviles_Email_encargado_fkey";
ALTER TABLE IF EXISTS ONLY public."Historial_Registro_Automovil" DROP CONSTRAINT IF EXISTS "Historial_Registro_Automovil_Email_Personal_fkey";
ALTER TABLE IF EXISTS ONLY public."Historial_Registro_Automovil" DROP CONSTRAINT IF EXISTS "Historial_Registro_Automovil_Consecutivo_fkey";
ALTER TABLE IF EXISTS ONLY public."Historial_Empleados" DROP CONSTRAINT IF EXISTS "Historial_Empleados_Email_Empleado_fkey";
ALTER TABLE IF EXISTS ONLY public."Historial_Auto" DROP CONSTRAINT IF EXISTS "Historial_Auto_Consecutivo_fkey";
DROP TRIGGER IF EXISTS trg_generar_folio ON public."Solicitud";
DROP TRIGGER IF EXISTS disparador_respaldo_unidad ON public."Inventario_Automoviles";
DROP TRIGGER IF EXISTS disparador_respaldo_empleado ON public."Empleados";
DROP INDEX IF EXISTS public."Inventario_Automoviles_Placa_key";
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
ALTER TABLE IF EXISTS ONLY public."Telefono" DROP CONSTRAINT IF EXISTS "Telefono_pkey";
ALTER TABLE IF EXISTS ONLY public."Solicitud" DROP CONSTRAINT IF EXISTS "Solicitud_pkey";
ALTER TABLE IF EXISTS ONLY public."Procesos" DROP CONSTRAINT IF EXISTS "Procesos_pkey";
ALTER TABLE IF EXISTS ONLY public."Inventario_Automoviles" DROP CONSTRAINT IF EXISTS "Inventario_Automoviles_pkey";
ALTER TABLE IF EXISTS ONLY public."Historial_Registro_Automovil" DROP CONSTRAINT IF EXISTS "Historial_Registro_Automovil_pkey";
ALTER TABLE IF EXISTS ONLY public."Historial_Empleados" DROP CONSTRAINT IF EXISTS "Historial_Empleados_pkey";
ALTER TABLE IF EXISTS ONLY public."Historial_Auto" DROP CONSTRAINT IF EXISTS "Historial_Auto_pkey";
ALTER TABLE IF EXISTS ONLY public."Empleados" DROP CONSTRAINT IF EXISTS "Empleados_pkey";
ALTER TABLE IF EXISTS public."Procesos" ALTER COLUMN "Id_Proceso" DROP DEFAULT;
ALTER TABLE IF EXISTS public."Historial_Registro_Automovil" ALTER COLUMN "Id_Historial_Reg" DROP DEFAULT;
ALTER TABLE IF EXISTS public."Historial_Empleados" ALTER COLUMN "Id_Historial_Emp" DROP DEFAULT;
ALTER TABLE IF EXISTS public."Historial_Auto" ALTER COLUMN "Id_Historial" DROP DEFAULT;
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TABLE IF EXISTS public."Telefono";
DROP TABLE IF EXISTS public."Solicitud";
DROP SEQUENCE IF EXISTS public."Procesos_Id_Proceso_seq";
DROP TABLE IF EXISTS public."Procesos";
DROP TABLE IF EXISTS public."Inventario_Automoviles";
DROP SEQUENCE IF EXISTS public."Historial_Registro_Automovil_Id_Historial_Reg_seq";
DROP TABLE IF EXISTS public."Historial_Registro_Automovil";
DROP SEQUENCE IF EXISTS public."Historial_Empleados_Id_Historial_Emp_seq";
DROP TABLE IF EXISTS public."Historial_Empleados";
DROP SEQUENCE IF EXISTS public."Historial_Auto_Id_Historial_seq";
DROP TABLE IF EXISTS public."Historial_Auto";
DROP TABLE IF EXISTS public."Empleados";
DROP FUNCTION IF EXISTS public.trg_respaldo_inventario_auto();
DROP FUNCTION IF EXISTS public.trg_respaldo_empleados();
DROP FUNCTION IF EXISTS public.generar_folio_ticket();
--
-- Name: generar_folio_ticket(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.generar_folio_ticket() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_fecha_formato VARCHAR(6);

    v_placa_actual VARCHAR(10);

BEGIN

    -- Buscar placa en inventario

    SELECT "Placa" INTO v_placa_actual FROM "Inventario_Automoviles" WHERE "Consecutivo" = NEW."Consecutivo";

    

    IF NOT FOUND THEN 

        RAISE EXCEPTION 'La unidad % no existe.', NEW."Consecutivo"; 

    END IF;



    -- Generar Folio (Consecutivo + DDMMYY)

    v_fecha_formato := TO_CHAR(COALESCE(NEW."Fecha_Realizacion", CURRENT_DATE), 'DDMMYY');

    NEW."Pk_folio_ticket" := NEW."Consecutivo" || v_fecha_formato;



    -- Insertar autom├íticamente en el historial del auto (Bit├ícora)

    INSERT INTO "Historial_Auto" ("Consecutivo", "Placa_Actual", "Kilometraje", "Descripcion")

    VALUES (NEW."Consecutivo", v_placa_actual, NEW."Kilometraje", NEW."Descripcion");



    RETURN NEW;

END;

$$;


--
-- Name: trg_respaldo_empleados(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trg_respaldo_empleados() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO "Historial_Empleados" ("Email_Empleado", "Nombre", "A_Paterno", "A_Materno", "Cargo", "Departamento")

    VALUES (OLD."Email", OLD."Nombre_Empleado", OLD."A_Paterno", OLD."A_Materno", OLD."Cargo", OLD."Departamento");

    RETURN NEW;

END;

$$;


--
-- Name: trg_respaldo_inventario_auto(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trg_respaldo_inventario_auto() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO "Historial_Registro_Automovil" (

        "Consecutivo", "Placa", "Marca", "Modelo", "Color", "Linea", "Email_Personal"

    )

    VALUES (

        OLD."Consecutivo", OLD."Placa", OLD."Marca", OLD."Modelo", OLD."Color", OLD."Linea", OLD."Email_encargado"

    );

    RETURN NEW;

END;

$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Empleados; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Empleados" (
    "Email" character varying(50) NOT NULL,
    "Nombre_Empleado" character varying(30) NOT NULL,
    "A_Paterno" character varying(30) NOT NULL,
    "A_Materno" character varying(30),
    "Cargo" character varying(30),
    "Departamento" character varying(40),
    "Password" text DEFAULT '123456'::text NOT NULL,
    "Rol" text DEFAULT 'USER'::text NOT NULL
);


--
-- Name: Historial_Auto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Historial_Auto" (
    "Id_Historial" integer NOT NULL,
    "Consecutivo" character varying(10) NOT NULL,
    "Placa_Actual" character varying(10),
    "Kilometraje" integer,
    "Estado_Actual" boolean DEFAULT true NOT NULL,
    "Descripcion" text,
    "Fecha_Registro" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Historial_Auto_Id_Historial_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Historial_Auto_Id_Historial_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Historial_Auto_Id_Historial_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Historial_Auto_Id_Historial_seq" OWNED BY public."Historial_Auto"."Id_Historial";


--
-- Name: Historial_Empleados; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Historial_Empleados" (
    "Id_Historial_Emp" integer NOT NULL,
    "Email_Empleado" character varying(50) NOT NULL,
    "Nombre" character varying(30),
    "A_Paterno" character varying(30),
    "A_Materno" character varying(30),
    "Cargo" character varying(30),
    "Departamento" character varying(40),
    "Fecha_Cambio" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Historial_Empleados_Id_Historial_Emp_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Historial_Empleados_Id_Historial_Emp_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Historial_Empleados_Id_Historial_Emp_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Historial_Empleados_Id_Historial_Emp_seq" OWNED BY public."Historial_Empleados"."Id_Historial_Emp";


--
-- Name: Historial_Registro_Automovil; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Historial_Registro_Automovil" (
    "Id_Historial_Reg" integer NOT NULL,
    "Consecutivo" character varying(10) NOT NULL,
    "Placa" character varying(10),
    "Marca" character varying(20),
    "Modelo" character varying(20),
    "Color" character varying(15),
    "Linea" character varying(15),
    "Email_Personal" character varying(50),
    "Fecha_Cambio" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Historial_Registro_Automovil_Id_Historial_Reg_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Historial_Registro_Automovil_Id_Historial_Reg_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Historial_Registro_Automovil_Id_Historial_Reg_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Historial_Registro_Automovil_Id_Historial_Reg_seq" OWNED BY public."Historial_Registro_Automovil"."Id_Historial_Reg";


--
-- Name: Inventario_Automoviles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Inventario_Automoviles" (
    "Consecutivo" character varying(10) NOT NULL,
    "Placa" character varying(10) NOT NULL,
    "Marca" character varying(20),
    "Modelo" character varying(20),
    "Color" character varying(15),
    "Linea" character varying(15),
    "Estado_Unidad" boolean DEFAULT true NOT NULL,
    "Email_encargado" character varying(50)
);


--
-- Name: Procesos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Procesos" (
    "Id_Proceso" integer NOT NULL,
    "Pk_folio_ticket" character varying(25) NOT NULL,
    "Email_Empleado" character varying(50) NOT NULL,
    "Detalle_Proceso" text,
    "Fecha_Hora" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Procesos_Id_Proceso_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Procesos_Id_Proceso_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Procesos_Id_Proceso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Procesos_Id_Proceso_seq" OWNED BY public."Procesos"."Id_Proceso";


--
-- Name: Solicitud; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Solicitud" (
    "Pk_folio_ticket" character varying(25) NOT NULL,
    "Consecutivo" character varying(10) NOT NULL,
    "Email_Empleado" character varying(50) NOT NULL,
    "Kilometraje" integer,
    "Descripcion" text,
    "Fecha_Realizacion" date DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "Estado" text DEFAULT 'PENDIENTE'::text NOT NULL
);


--
-- Name: Telefono; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Telefono" (
    "Email_Empleado" character varying(50) NOT NULL,
    "No_Telefonico" character varying(15) NOT NULL
);


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: Historial_Auto Id_Historial; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Auto" ALTER COLUMN "Id_Historial" SET DEFAULT nextval('public."Historial_Auto_Id_Historial_seq"'::regclass);


--
-- Name: Historial_Empleados Id_Historial_Emp; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Empleados" ALTER COLUMN "Id_Historial_Emp" SET DEFAULT nextval('public."Historial_Empleados_Id_Historial_Emp_seq"'::regclass);


--
-- Name: Historial_Registro_Automovil Id_Historial_Reg; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Registro_Automovil" ALTER COLUMN "Id_Historial_Reg" SET DEFAULT nextval('public."Historial_Registro_Automovil_Id_Historial_Reg_seq"'::regclass);


--
-- Name: Procesos Id_Proceso; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Procesos" ALTER COLUMN "Id_Proceso" SET DEFAULT nextval('public."Procesos_Id_Proceso_seq"'::regclass);


--
-- Data for Name: Empleados; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Historial_Auto; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Historial_Empleados; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Historial_Registro_Automovil; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Historial_Registro_Automovil" ("Id_Historial_Reg", "Consecutivo", "Placa", "Marca", "Modelo", "Color", "Linea", "Email_Personal", "Fecha_Cambio") FROM stdin;
3	V-02	XAL-1234	Nissan	NP300	\N	\N	chofer1@sifygsa.com	2026-02-20 16:22:36.452
6	V-02	XAL-1234	Nissan	NP300	\N	\N	\N	2026-02-20 16:28:56.636
\.


--
-- Data for Name: Inventario_Automoviles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Procesos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Procesos" ("Id_Proceso", "Pk_folio_ticket", "Email_Empleado", "Detalle_Proceso", "Fecha_Hora") FROM stdin;
\.


--
-- Data for Name: Solicitud; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Telefono; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Telefono" ("Email_Empleado", "No_Telefonico") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: Historial_Auto_Id_Historial_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Historial_Auto_Id_Historial_seq"', 34, true);


--
-- Name: Historial_Empleados_Id_Historial_Emp_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Historial_Empleados_Id_Historial_Emp_seq"', 9, true);


--
-- Name: Historial_Registro_Automovil_Id_Historial_Reg_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Historial_Registro_Automovil_Id_Historial_Reg_seq"', 6, true);


--
-- Name: Procesos_Id_Proceso_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Procesos_Id_Proceso_seq"', 1, false);


--
-- Name: Empleados Empleados_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Empleados"
    ADD CONSTRAINT "Empleados_pkey" PRIMARY KEY ("Email");


--
-- Name: Historial_Auto Historial_Auto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Auto"
    ADD CONSTRAINT "Historial_Auto_pkey" PRIMARY KEY ("Id_Historial");


--
-- Name: Historial_Empleados Historial_Empleados_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Empleados"
    ADD CONSTRAINT "Historial_Empleados_pkey" PRIMARY KEY ("Id_Historial_Emp");


--
-- Name: Historial_Registro_Automovil Historial_Registro_Automovil_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Registro_Automovil"
    ADD CONSTRAINT "Historial_Registro_Automovil_pkey" PRIMARY KEY ("Id_Historial_Reg");


--
-- Name: Inventario_Automoviles Inventario_Automoviles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Inventario_Automoviles"
    ADD CONSTRAINT "Inventario_Automoviles_pkey" PRIMARY KEY ("Consecutivo");


--
-- Name: Procesos Procesos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Procesos"
    ADD CONSTRAINT "Procesos_pkey" PRIMARY KEY ("Id_Proceso");


--
-- Name: Solicitud Solicitud_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Solicitud"
    ADD CONSTRAINT "Solicitud_pkey" PRIMARY KEY ("Pk_folio_ticket");


--
-- Name: Telefono Telefono_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Telefono"
    ADD CONSTRAINT "Telefono_pkey" PRIMARY KEY ("Email_Empleado", "No_Telefonico");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Inventario_Automoviles_Placa_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Inventario_Automoviles_Placa_key" ON public."Inventario_Automoviles" USING btree ("Placa");


--
-- Name: Empleados disparador_respaldo_empleado; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER disparador_respaldo_empleado BEFORE UPDATE ON public."Empleados" FOR EACH ROW EXECUTE FUNCTION public.trg_respaldo_empleados();


--
-- Name: Inventario_Automoviles disparador_respaldo_unidad; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER disparador_respaldo_unidad BEFORE UPDATE ON public."Inventario_Automoviles" FOR EACH ROW EXECUTE FUNCTION public.trg_respaldo_inventario_auto();


--
-- Name: Solicitud trg_generar_folio; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_generar_folio BEFORE INSERT ON public."Solicitud" FOR EACH ROW EXECUTE FUNCTION public.generar_folio_ticket();


--
-- Name: Historial_Auto Historial_Auto_Consecutivo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Auto"
    ADD CONSTRAINT "Historial_Auto_Consecutivo_fkey" FOREIGN KEY ("Consecutivo") REFERENCES public."Inventario_Automoviles"("Consecutivo") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Historial_Empleados Historial_Empleados_Email_Empleado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Empleados"
    ADD CONSTRAINT "Historial_Empleados_Email_Empleado_fkey" FOREIGN KEY ("Email_Empleado") REFERENCES public."Empleados"("Email") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Historial_Registro_Automovil Historial_Registro_Automovil_Consecutivo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Registro_Automovil"
    ADD CONSTRAINT "Historial_Registro_Automovil_Consecutivo_fkey" FOREIGN KEY ("Consecutivo") REFERENCES public."Inventario_Automoviles"("Consecutivo") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Historial_Registro_Automovil Historial_Registro_Automovil_Email_Personal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Historial_Registro_Automovil"
    ADD CONSTRAINT "Historial_Registro_Automovil_Email_Personal_fkey" FOREIGN KEY ("Email_Personal") REFERENCES public."Empleados"("Email") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Inventario_Automoviles Inventario_Automoviles_Email_encargado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Inventario_Automoviles"
    ADD CONSTRAINT "Inventario_Automoviles_Email_encargado_fkey" FOREIGN KEY ("Email_encargado") REFERENCES public."Empleados"("Email") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Procesos Procesos_Email_Empleado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Procesos"
    ADD CONSTRAINT "Procesos_Email_Empleado_fkey" FOREIGN KEY ("Email_Empleado") REFERENCES public."Empleados"("Email") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Procesos Procesos_Pk_folio_ticket_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Procesos"
    ADD CONSTRAINT "Procesos_Pk_folio_ticket_fkey" FOREIGN KEY ("Pk_folio_ticket") REFERENCES public."Solicitud"("Pk_folio_ticket") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Solicitud Solicitud_Consecutivo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Solicitud"
    ADD CONSTRAINT "Solicitud_Consecutivo_fkey" FOREIGN KEY ("Consecutivo") REFERENCES public."Inventario_Automoviles"("Consecutivo") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Solicitud Solicitud_Email_Empleado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Solicitud"
    ADD CONSTRAINT "Solicitud_Email_Empleado_fkey" FOREIGN KEY ("Email_Empleado") REFERENCES public."Empleados"("Email") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Telefono Telefono_Email_Empleado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Telefono"
    ADD CONSTRAINT "Telefono_Email_Empleado_fkey" FOREIGN KEY ("Email_Empleado") REFERENCES public."Empleados"("Email") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict s9FwX2Jlxl9SvHHDwqgusrYhnJIjn1k1QPglyQfEWoqzez7kKWRbURTPBurdjNE

